.tasks_manager {
    width: 100%;
    margin: 8px;

    .tasks_title_container {
        height: 180px;
    }

    .tasks_manager_table {
        table-layout: fixed;

        td {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            word-break: break-word;
        }
    }
}
